<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnShelf"
        tools:targetApi="31">

        <activity
            android:name=".view.AddressManager.UserAddress"
            android:exported="false" />
        <activity
            android:name=".view.AddressManager.AddressManager"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.
             To get one, follow the directions here:
                https://developers.google.com/maps/documentation/android-sdk/get-api-key
             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHIvC5E-XqbNMoSWJxgrxTYpeVg_zxvEM" />


        <activity
            android:name=".view.marketplaceMain.marketplaceMain"
            android:exported="false" />
        <activity
            android:name=".view.SellerBottomNav.ui.MainNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.product.cart"
            android:exported="false" />
        <activity
            android:name=".view.UI_Tester"
            android:exported="false" />
        <activity
            android:name=".view.RestaurantNearMe.RestaurantsNearMe"
            android:exported="false" />
        <activity
            android:name=".view.authentication.Reset_Pass"
            android:exported="false" />
        <activity
            android:name=".view.Wallet.Balance"
            android:exported="false" />
        <activity
            android:name=".view.Wallet.CheckoutUI"
            android:exported="false" />
        <activity
            android:name=".view.Wallet.CheckoutRedirect"
            android:exported="false" />
        <activity
            android:name=".view.Seller.SellerProfile"
            android:exported="false" />
        <activity
            android:name=".view.authentication.Verification"
            android:exported="false" />
        <activity
            android:name=".view.authentication.Reset_Password"
            android:exported="false" />
        <activity
            android:name=".view.authentication.Seller_Register"
            android:exported="false" />
        <activity
            android:name=".view.authentication.Seller_Login"
            android:exported="false" />
        <activity
            android:name=".view.authentication.CustomerRegister"
            android:exported="false" />
        <activity
            android:name=".view.authentication.Customer_Login"
            android:exported="false" />
        <activity
            android:name=".view.product.product_main"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
    </application>

</manifest>